/* Onboarding.css */

.formContainer {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 10px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .labelStyle {
    margin-bottom: 5px;
  }
  
  .requiredLabel {
    color: red;
  }
  
  .inputStyle {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  