.spinner {
    position:relative;
    width: 80px;
    height: 80px;
  }
  
  .circle {
    width:5px;
    height: 5px;
    border-radius: 60%;
    position: absolute;
    animation: spin 1.5s linear infinite;
  }
  
  .orange { background-color: #FF8003; }
  .yellow { background-color: #FBDB00; }
  .lime { background-color: #80FE02; }
  .green { background-color: #2BEE0A; }
  .blue { background-color: #1663FF; }
  .lightblue { background-color: #4EDBFF; }
  .purple { background-color: #7E01FB; }
  .red { background-color: #FE0207; }
  
  @keyframes spin {
    0% { transform: rotate(0deg) translateX(15px)  rotate(0deg); }
    100% { transform: rotate(360deg) translateX(15px)  rotate(-360deg); }
  }
  
  .spinner .circle:nth-child(1) { animation-delay: 0s; }
  .spinner .circle:nth-child(2) { animation-delay: -0.19s; }
  .spinner .circle:nth-child(3) { animation-delay: -0.38s; }
  .spinner .circle:nth-child(4) { animation-delay: -0.56s; }
  .spinner .circle:nth-child(5) { animation-delay: -0.75s; }
  .spinner .circle:nth-child(6) { animation-delay: -0.94s; }
  .spinner .circle:nth-child(7) { animation-delay: -1.13s; }
  .spinner .circle:nth-child(8) { animation-delay: -1.32s; }